*{
    margin: 0%;
    padding: 0%;
    background-color: #2d737a;
    color: white;
}

#navbar{
    height: 50px;
    color: white;       
}

a{
    text-decoration: none;
    margin-right: 50px;
    color: white;
}
#logo{
    font-size: 160%;
}
#mainpage{
    text-align: center;
    padding-top: 70px;
    font-size: xx-large;
    color: white;
}
p{
    font-size: large;
}
img{
    padding-top: 40px;
    width: 800px;
}
#aboutsection{
    text-align: center;
}
#services{
    text-decoration: underline;
}
#contactform{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
    margin-left: 40px;

}

